{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
    {% if artist.avatarFilename is not empty %}
      <div class="col-12 col-md-2 col-lg-3 mb-3 text-center text-md-start">
        <div class="-artist-avatar{% if artist.isSoldOut %} -is-sold-out{% endif %}">
          <img src="{{ asset('uploads/avatars/' ~ artist.avatarFileName) }}" alt="{{ artist.name }}"
            class="img-thumbnail p-0 border-0">
        </div>
      </div>
    {% endif %}
      <div class="col-12{% if artist.avatarFilename is not empty %} col-md-10 col-lg-9{% endif %}">
        <h1 class="text-center text-md-start mb-1"><span class="bi-person text-primary rounded"></span> {{ artist.name }}</h1>
        <p class="text-muted text-center text-md-start mb-4">
          {% set vinyls_total_unique = artist.vinyls|length %}
          <b class="badge bg-primary rounded-pill">{{ vinyls_total_unique }}</b> {% if vinyls_total_unique > 1 %}vinyles uniques{% else %}vinyle unique{% endif %} -
          Quantité : <b class="badge bg-primary rounded-pill">{{ artist.vinylsQuantity }}</b>
        </p>

        {% if artist.vinyls is not empty %}
          {% include 'components/lists/vinyls-table.html.twig' with { vinyls: artist.vinyls, selectable: false } %}
        {% else %}
          <div class="alert alert-secondary fw-bold">
            Aucun vinyle à afficher.
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
