{% if form_advert is defined and form_advert is not empty %}
  <div class="modal fade" id="modal-manage-advert" tabindex="-1" aria-labelledby="modal-manage-advert-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-manage-advert-label">Ajouter une annonce</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        {{ form_start(form_advert, { 'attr' : { 'class': 'form form-advert' } }) }}
          <div class="modal-body">
            {# Form inputs #}
            <div class="form--inputs">
              <div class="row g-3">
                <div class="col-md-8 col-lg-9 form-group">
                  {{ form_label(form_advert.title) }}
                  {{ form_widget(form_advert.title) }}
                  {{ form_errors(form_advert.title) }}
                </div>
                <div class="col-md-4 col-lg-3 form-group">
                  {{ form_label(form_advert.price) }}
                  <div class="input-group">
                    {{ form_widget(form_advert.price) }}
                    <span class="input-group-text fw-bold px-3">€</span>
                  </div>
                  {{ form_errors(form_advert.price) }}
                </div>
                <div class="col-md-12 form-group">
                  {{ form_label(form_advert.description) }}
                  {{ form_widget(form_advert.description) }}
                  {{ form_errors(form_advert.description) }}
                </div>
                <div class="col-md-12 form-group form-multi-select">
                  <legend class="col-form-label required">Vinyle(s) à vendre</legend>
                  <div class="border-0 p-0">
                    <ul class="list-group">
                    {% for vinyl in vinyls_to_sale %}
                      {% set artists_str = null %}
                      {% if vinyl.artists is not empty %}
                        {% for artist in vinyl.artists %}
                          {% set artists_str = artists_str ~ artist.name ~ (loop.last == false ? ', ' : '') %}
                        {% endfor %}
                      {% endif %}
                      <li class="list-group-item -item-vinyl" data-vinyl-id="{{ vinyl.id }}">
                        <div class="row align-items-center">
                          <div class="col-9 col-lg-10">
                            <div class="row align-items-center">
                              <div class="-vinyl-tracks col-12 col-lg-8" data-vinyl-rpm="{{ vinyl.rpm }}">
                                <span class="text-muted">Face A:</span> <b class="-vinyl-track-A">{{ vinyl.trackFaceA }}</b><br>
                                <span class="text-muted">Face B:</span> <b class="-vinyl-track-B">{{ vinyl.trackFaceB }}</b><br>
                              </div>
                              <div class="-vinyl-artists col-12 col-lg-4">
                                <small><span class="text-muted">Par</span> <i class="-list">{{ artists_str }}</i></small>
                              </div>
                            </div>
                          </div>
                          <div class="col-3 col-lg-2 text-center">
                            <span class="form-control-quantity" data-qty-max="{{ vinyl.quantityAvailable }}">
                              <span class="btn-qty icon-minus-square disabled" data-qty-type="-1"></span>
                              <span class="qty-amount">0</span>
                              <span class="btn-qty icon-plus-square" data-qty-type="+1"></span>
                              <input class="advert-vinyl-qty" type="hidden" name="advert_vinyl_qty[{{ vinyl.id }}][]"
                                id="advert_vinyl_{{ vinyl.id }}_qty" value="0">
                            </span>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
                  <p class="-vinyls-total-selected small mt-2 mb-0 text-end text-muted">
                    Total vinyles: <b class="-amount">0</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
            {{ form_widget(form_advert.send) }}
          </div>
        {{ form_end(form_advert) }}
      </div>
    </div>
  </div>
{% endif %}
