{% if form_advert is defined and form_advert is not empty %}
  <div class="modal fade{% if is_advert_edit == true %} -is-edit{% endif %}" id="modal-manage-advert" tabindex="-1" aria-labelledby="modal-manage-advert-label" aria-hidden="true"
    {% if is_advert_edit == true %}data-bs-backdrop="static"{% endif %}>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-manage-advert-label">Ajouter une annonce</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>
        {{ form_start(form_advert, { 'attr' : { 'class': 'form form-advert' } }) }}
          <div class="modal-body">
            {# Form inputs #}
            <div class="form--inputs">
              <div class="row g-3">
                <div class="col-12 col-md-5 col-lg-6 form-group" data-bs-theme="light">
                  {{ form_label(form_advert.title) }}
                  {{ form_widget(form_advert.title) }}
                  {{ form_errors(form_advert.title) }}
                </div>
                <div class="col-12 col-md-4 col-lg-3 form-group" data-bs-theme="light">
                  {{ form_label(form_advert.name) }}
                  {{ form_widget(form_advert.name) }}
                  {{ form_errors(form_advert.name) }}
                </div>
                <div class="col-12 col-md-3 col-lg-3 form-group" data-bs-theme="light">
                  {{ form_label(form_advert.price) }}
                  <div class="input-group">
                    {{ form_widget(form_advert.price) }}
                    <span class="input-group-text fw-bold px-3">€</span>
                  </div>
                  {{ form_errors(form_advert.price) }}
                </div>

                <div class="col-12 form-group" data-bs-theme="light">
                  {{ form_label(form_advert.description) }}
                  {{ form_widget(form_advert.description) }}
                  {{ form_errors(form_advert.description) }}
                </div>

                <div class="col-12 form-group form-multi-select" data-bs-theme="light">
                  <legend class="col-form-label required">Vinyle(s) à vendre</legend>
                  <div class="border-0 p-0">
                    <ul class="list-group">
                    {% set total_vinyls = 0 %}
                    {% for vinyl in vinyls_to_sale %}
                      {% if vinyl.quantityAvailable > 0 %}
                        {# Get vinyls data #}
                        {% set vinyl_qty = 0 %}
                        {% set vinyl_sample = null %}
                        {% if is_advert_edit == true and advert_vinyls is not empty and advert_vinyls[vinyl.id] is defined %}
                          {% set vinyl_qty = advert_vinyls[vinyl.id].quantity %}
                          {% set vinyl_sample = advert_vinyls[vinyl.id].sample %}
                        {% endif %}
                        <li class="list-group-item -item-vinyl{% if vinyl_qty > 0 %} -selected{% endif %}" data-vinyl-id="{{ vinyl.id }}"
                          data-vinyl-rpm="{{ vinyl.rpm }}" data-vinyl-track-a="{{ vinyl.trackFaceA }}" data-vinyl-track-b="{{ vinyl.trackFaceB }}" data-vinyl-artists="{{ vinyl.artistsAsString }}">
                          <div class="row align-items-center">
                            <div class="col-9 col-lg-10">
                              <div class="row align-items-center">
                                <div class="-vinyl-tracks col-12 col-lg-8" data-vinyl-rpm="{{ vinyl.rpm }}">
                                  <span class="text-muted">Face A:</span> <b>{{ vinyl.trackFaceA }}</b><br>
                                  <span class="text-muted">Face B:</span> <b>{{ vinyl.trackFaceB }}</b><br>
                                </div>
                                <div class="-vinyl-artists col-12 col-lg-4">
                                  <small><span class="text-muted">Par</span> <i class="-list">{{ vinyl.artistsAsString }}</i></small>
                                </div>
                              </div>
                            </div>
                            <div class="col-3 col-lg-2 text-center">
                              <span class="form-control-quantity" data-qty-max="{{ vinyl.quantityAvailable }}">
                                <span class="btn-qty bi-dash-square{% if vinyl_qty <= 0 %} disabled{% endif %}" data-qty-type="-1"></span>
                                <span class="qty-amount">{{ vinyl_qty }}</span>
                                <span class="btn-qty bi-plus-square{% if vinyl_qty >= vinyl.quantityAvailable %} disabled{% endif %}" data-qty-type="+1"></span>
                                <input class="advert-vinyl-qty" type="hidden" name="advert_vinyl_selected[{{ vinyl.id }}][qty]"
                                  id="advert_vinyl_qty_{{ vinyl.id }}" value="{{ vinyl_qty }}">
                              </span>
                              {% if vinyl_sample is not empty %}
                                <input type="hidden" name="advert_vinyl_selected[{{ vinyl.id }}][sample]"
                                  id="advert_vinyl_sample_{{ vinyl_sample.id }}" value="{{ vinyl_sample.id }}">
                              {% endif %}
                            </div>
                          </div>
                        </li>
                        {% set total_vinyls = total_vinyls + vinyl_qty %}
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </div>
                  <p class="-vinyls-total-selected small mt-2 mb-0 text-end text-muted">
                    Total vinyles: <b class="-amount">{{ total_vinyls }}</b>
                  </p>
                </div>

                <div class="col-12 form-group form-image-lib" data-bs-theme="light">
                  {{ form_label(form_advert.images) }}
                  {{ form_widget(form_advert.images) }}
                  {{ form_errors(form_advert.images) }}
                  {% set images_library %}
                    <div class="-images-library{% if advert_to_edit is not null and advert_to_edit.images is not empty %} -has-images{% endif %}" data-initial-text="Aucune photo sélectionnée">
                      {% if advert_to_edit is not null and advert_to_edit.images is not empty %}
                        {% for img in advert_to_edit.images %}
                          <span class="-item -in-database ratio ratio-1x1" style="background-image: url({{ asset(img.path) }})"
                            data-id-image="{{ img.id }}">
                            <a tabindex="0" class="btn btn-danger px-2" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-html="true" data-bs-placement="top"
                              data-bs-content="<div class='text-center'>Êtes-vous sûr de vouloir supprimer cette image&nbsp;? <br><a class='btn btn-sm btn-danger btn-delete-img mt-2' href='{{ path('image_delete', { id: img.id }) }}'>Supprimer</a></div>">
                              <span class="bi-file-earmark-minus"></span>
                              <span class="visually-hidden">Supprimer</span>
                            </a>
                          </span>
                        {% endfor %}
                      {% else %}
                        <span class="-text">Aucune photo sélectionnée</span>
                      {% endif %}
                    </div>
                  {% endset %}
                  {{ images_library|spaceless }}
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
            {{ form_widget(form_advert.send) }}
          </div>
        {{ form_end(form_advert) }}
      </div>
    </div>
  </div>
{% endif %}
