{% extends 'base.html.twig' %}

{% block body %}
  {% set price_vinyls_average = (total_prices_checkout / nb_vinyls_sold) %}
  <div class="container">
    <h1 class="mb-{% if is_granted('ROLE_VIEWER') %}1{% else %}4{% endif %}">
      <span class="icon-file-text text-primary"></span>
      Liste des annonces{% if adverts is not empty %}
      <small class="fw-normal text-muted">({{ adverts|length }})</small>{% endif %}
    </h1>
    {% if is_granted('ROLE_VIEWER') %}
      <p class="text-muted mb-2">
        <b class="-total-vinyls-in-sale badge bg-primary rounded-pill">{{ nb_vinyls_in_sale }}</b> vinyle{% if nb_vinyls_in_sale > 1 %}s{% endif %} en vente -
        Vendu{% if nb_vinyls_sold > 1 %}s{% endif %} : <b class="-total-vinyls-sold badge bg-primary rounded-pill">{{ nb_vinyls_sold }}</b> /
        Total prévu : <b class="-total-price-to-get badge bg-primary rounded-pill">{{ total_prices }}€</b> -
        Total perçu : <b class="-total-prices-got badge bg-primary rounded-pill">{{ total_prices_checkout }}€</b> -
        Prix moy. / vinyle : <b class="-price-vinyls-average badge bg-primary rounded-pill">{{ price_vinyls_average|round(2) }}€</b> -
        Prix moy. / annonce : <b class="-price-ads-average badge bg-primary rounded-pill" data-ads-qty="{{ adverts|length }}">{{ (total_prices_checkout / adverts|length)|round(2) }}€</b>
      </p>
      <p class="text-muted mb-4">
        Prévision total : <b class="-price-total-irma badge bg-warning text-dark rounded-pill">{{ ((price_vinyls_average * (total_vinyls - nb_vinyls_in_sale)) + total_prices)|round(2) }}€</b>
      </p>
    {% endif %}

    {# Adverts list #}
    {% if adverts is not empty %}
      <div id="advers-entities" class="list-adverts row g-4" data-masonry='{"percentPosition": true }'>
      {% for advert in adverts %}
        {% set advert_total_qty = 0 %}
        {% for in_sale in advert.inSales %}
          {% set advert_total_qty = advert_total_qty + in_sale.quantity %}
        {% endfor %}
        <div class="-item col-12 col-lg-6 col-xxl-4{% if advert.isSold is not null and advert.isSold == true %} -is-sold{% if is_granted('ROLE_VIEWER') == false %} d-none{% endif %}{% endif %}"
          data-advert-id="{{ advert.id }}" data-advert-price="{{ advert.price }}" data-advert-total-qty="{{ advert_total_qty }}">
          <div class="card text-dark">
            <div class="card-header">
              <h2 class="h5 mb-0 text-dark row align-items-center">
                <div class="-item-title col-9 col-xl-10 pe-0">{{ advert.title }}</div>
                <div class="-item-price col-3 col-xl-2 text-end"><span class="badge bg-primary">{{ advert.price }}€</span></div>
              </h2>
            </div>
            <div class="-item-desc">
              <div class="p-3{% if advert.images is not empty %} pb-0{% endif %}">
                {{ advert.description|nl2br }}
              </div>
            </div>
            {% if advert.images is not empty %}
            <div class="card-body advert-gallery">
              <div class="text-center">
                <button class="btn btn-sm btn-outline-primary advert-display-gallery" type="button" name="button">
                  Afficher les photo(s)
                </button>
              </div>
              <div class="advert-list-imgs row g-2 g-sm-3 g-md-2 d-none">
                {% for img in advert.images %}
                <div class="col-3 col-md-2 col-lg-3 col-xl-2 col-xxl-3">
                  <a class="ratio ratio-1x1 ratio-bg rounded bg-secondary" href="{{ asset('uploads/adverts/' ~ img.filename) }}" target="_blank">
                    <span style="background-image: url({{ asset('uploads/adverts/' ~ img.filename) }})"></span>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-6">
                  <div class="form-check">
                    <input id="advert-{{ advert.id }}-is-sold" class="form-check-input advert-checkbox-is-sold"
                      type="checkbox" value="{{ advert.id }}"{% if advert.isSold is not null and advert.isSold == true %} checked="checked"{% endif %}>
                    <label class="form-check-label" for="advert-{{ advert.id }}-is-sold">
                      Annonce vendue
                    </label>
                  </div>
                </div>
                <div class="col-6 text-end">
                  <a href="{{ path('adverts', { id: advert.id }) }}" class="btn btn-sm btn-outline-secondary px-2 me-1">
                    <span class="icon-edit"></span>
                  </a>
                  <button class="btn btn-sm btn-outline-danger" type="button"
                    data-confirm-href="{{ path('advert_delete', { id: advert.id }) }}" data-confirm-body="Êtes-vous sûr de vouloir supprimer l'annonce <b>{{ advert.title }}</b> ?"
                      data-bs-toggle="modal" data-bs-target="#modal-confirm-delete">
                    <span class="icon-file-minus me-1"></span>
                    Supprimer
                  </button>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-secondary">
        Aucune annonce à afficher.
      </div>
    {% endif %}
  </div>
{% endblock %}
