{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 class="mb-3"><span class="icon-users text-primary"></span> Liste des artistes{% if artists is not empty %} <small class="fw-normal text-muted">({{ artists|length }})</small>{% endif %}</h1>
    {% if artists is not empty %}
      <div class="list-users row g-5">
      {% for artist in artists %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="-item" data-artist-id="{{ artist.id }}" data-artist-name="{{ artist.name }}">
            <div class="-item-picture">
              <span class="-picture-icon icon-user"></span>
            {% if is_granted('ROLE_ADMIN') %}
              <span class="-picture-delete-user">
                <button class="btn btn-sm btn-danger px-2 py-1"
                  data-confirm-href="{{ path('artist_delete', { id: artist.id }) }}" data-confirm-body="Êtes-vous sûr de vouloir supprimer l'artiste: <b>{{ artist.name }}</b> ?"
                    data-bs-toggle="modal" data-bs-target="#modal-confirm-delete">
                  <span class="icon-trash"></span>
                </button>
              </span>
            {% endif %}
            </div>
            <h3 class="-item-name">{{ artist.name }}</h3>
          </div>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-secondary">
        Aucun artiste à afficher.
      </div>
    {% endif %}
  </div>
{% endblock %}
