{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 class="mb-3"><span class="icon-users text-primary"></span> Liste des artistes{% if artists is not empty %} <small class="fw-normal text-muted">({{ artists|length }})</small>{% endif %}</h1>
    {% if artists is not empty %}
      <div class="list-users row">
      {% for artist in artists %}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <div class="-item" data-artist-id="{{ artist.id }}" data-artist-name="{{ artist.name }}">
            <div class="-item-picture"{% if artist.avatarFileName is not empty %} style="background-image: url('{{ asset('uploads/avatars/' ~ artist.avatarFileName) }}');"{% endif %}>
              {% if artist.avatarFileName is empty %}
                <span class="-picture-icon icon-user"></span>
              {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
              <span class="-picture-delete-user">
                <button class="btn btn-sm btn-danger px-2 py-1"
                  data-confirm-href="{{ path('artist_delete', { id: artist.id }) }}" data-confirm-body="Êtes-vous sûr de vouloir supprimer l'artiste: <b>{{ artist.name }}</b> ?"
                    data-bs-toggle="modal" data-bs-target="#modal-confirm-delete">
                  <span class="icon-trash"></span>
                </button>
              </span>
            {% endif %}
            </div>
            <h3 class="-item-name">{{ artist.name }}</h3>
            <div class="-item-nb-vinyls small">({{ artist.vinylsQuantity }} vinyle{% if artist.vinylsQuantity > 1 %}s{% endif %})</div>
            <div class="-item-link pt-2">
              <a href="{{ path('artists_infos', { id: artist.id }) }}"
                class="btn btn-outline-primary text-white">
                + infos
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-secondary">
        Aucun artiste à afficher.
      </div>
    {% endif %}
  </div>
{% endblock %}
