{# default twig values #}
{% set domain = app.request.getSchemeAndHttpHost() %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {# meta.title #}
    <title>
    {%- block meta_title -%}
      {%- if meta.title is defined and meta.title is not empty -%}
        {{ meta.title }} - Apo.
      {% else %}
        Apo.
      {%- endif -%}
    {%- endblock -%}
    </title>

    {# Base stylesheets #}
    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="{{ asset('build/google-fonts.css') }}">
    {# Custom stylesheets from twig templates #}
    {% block stylesheets %}{% endblock %}

    {# Custom javascripts from twig templates #}
    {% block javascripts_defines %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
    {# Base javascripts #}
    {{ encore_entry_script_tags('app') }}
    {# Custom javascripts from twig templates #}
    {% block javascripts %}{% endblock %}
  </head>

  <body class="app-core{% if core_class is defined %} {{ core_class }}{% endif %} app-core--no-script">
    {# Header #}
    {% block header %}
      {% include 'components/header.html.twig' %}
    {% endblock %}

    <div class="app-body bg-pattern -fixed py-4{% if body_class is defined %} {{ body_class }}{% endif %}">
      {% include 'components/no-script.html.twig' %}

      {# Notices/Errors messages from "flashbag" #}
      {% block flashes %}
        {% include 'components/flashes.html.twig' %}
      {% endblock %}

      {# Body #}
      {% block body %}{% endblock %}
    </div>

    {# Footer #}
    {% block footer %}
      {% include 'components/footer.html.twig' %}
    {% endblock %}

    {# Player (YouTube) #}
    <div class="app-player invisible">
      <div class="-inner">
        <div class="-infos">
          <div class="-artist"></div>
          <div class="-title"></div>
          <span class="-close icon-close"></span>
        </div>
        <div class="-player ratio ratio-1x1">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    {# Modals #}
    {% if app.user %}
      {% include 'modals/manage-artist.html.twig' %}
      {% include 'modals/manage-advert.html.twig' %}
      {% include 'modals/manage-vinyl.html.twig' %}
      {% include 'modals/confirm-delete.html.twig' %}
    {% endif %}
  </body>
</html>
