{% extends 'base.html.twig' %}

{% block body %}
  {% set price_vinyls_average = nb_vinyls_sold > 0 ? (total_prices_checkout / nb_vinyls_sold) : 0 %}
  <div class="container">
    {% if is_granted('ROLE_VIEWER') %}
      {% include 'components/statistics.html.twig' with {
        grid_size : 'row-cols-sm-2 row-cols-md-3 row-cols-xl-6',
        statistics : [
          {
            'label': nb_adverts_sold > 1 ? 'Annonces vendues' : 'Annonce vendue',
            'amount': nb_adverts_sold,
            'total': adverts|length,
            'progress_bar': true
          },
          {
            'label': 'Nb. vinyle vendu',
            'amount': nb_vinyls_sold,
            'total': total_vinyls,
            'amount_css_class': '-total-vinyls-sold',
            'total_css_class': '-vinyls-total-quantity',
            'progress_bar': true
          },
          {
            'label': 'Total perçu / prévu',
            'amount': total_prices_checkout,
            'total': total_prices,
            'amount_css_class': '-total-prices-got',
            'total_css_class': '-total-price-to-get',
            'progress_bar': true,
            'currency': '€'
          },
          {
            'label': 'Prix moyen / vinyle',
            'amount': price_vinyls_average|round(2),
            'amount_css_class': '-price-vinyls-average',
            'currency': '€'
          },
          {
            'label': 'Prix moyen / annonce',
            'amount': (adverts|length > 0 ? (total_prices_checkout / adverts|length)|round(2) : 0),
            'amount_attr': 'data-ads-qty=' ~ adverts|length,
            'amount_css_class': '-price-ads-average',
            'currency': '€'
          },
          {
            'label': 'Prévision totale',
            'amount': ((price_vinyls_average * (total_vinyls - nb_vinyls_in_sale)) + total_prices)|round(2),
            'amount_css_class': '-price-total-irma',
            'currency': '€',
            'class': 'bg-warning'
          }
        ]
      } %}
      <hr>
    {% endif %}

    <h1 class="mb-3">
      <span class="bi-file-earmark-text text-primary"></span>
      Liste des annonces{% if adverts is not empty %}
      <small class="fw-normal text-muted">({{ adverts|length }})</small>{% endif %}
    </h1>

    {# Adverts list #}
    {% if adverts is not empty %}
      <div id="advers-entities" class="list-adverts row g-4" data-masonry='{"percentPosition": true }'>
      {# Display ALL ads to users with at least ROLE VIEWER
          OR only display available ads to not logged users #}
      {% for advert in adverts|filter(ad => ((is_granted('ROLE_VIEWER') == true) or (is_granted('ROLE_VIEWER') == false and (ad.isSold is null or ad.isSold == false) and ad.name is null))) %}
        {% set advert_total_qty = 0 %}
        {% for in_sale in advert.inSales %}
          {% set advert_total_qty = advert_total_qty + in_sale.quantity %}
        {% endfor %}
        <div class="-item col-12 col-lg-6 col-xxl-4{% if advert.isSold is not null and advert.isSold == true %} -is-sold{% endif %}"
          data-advert-id="{{ advert.id }}" data-advert-price="{{ advert.price }}" data-advert-total-qty="{{ advert_total_qty }}">
          <div class="card" data-bs-theme="light">
            <div class="card-header">
              <h2 class="h5 mb-0 row align-items-center">
                <div class="-item-title col-9 col-xl-10 col-xxl-9 pe-0">
                  <a href="{{ path('advert_infos', { id: advert.id, slug: advert.title|slug|lower, key: advert.key }) }}">
                    {{ advert.title }}
                    {% if is_granted('ROLE_ADMIN') and advert.name is not empty %}
                    <small class="d-inline-block text-muted fw-normal fst-italic">(pour: <b>{{ advert.name }}</b>)</small>
                    {% endif %}
                  </a>
                </div>
                <div class="-item-price col-3 col-xl-2 col-xxl-3 text-end">
                  <span class="badge bg-primary">{{ advert.price|number_format(2, ',', ' ') }}€</span>
                </div>
              </h2>
            </div>
            <div class="-item-desc">
              <div class="p-3{% if advert.images is not empty %} pb-0{% endif %}">
                {% if advert.description is not empty %}
                  {{ advert.description|nl2br }}
                {% else %}
                  <div class="text-muted fst-italic text-center my-3"> - Aucune description - </div>
                {% endif %}
                {% if advert.name is not empty and advert.inSales is not empty %}
                  {% set vinylsByArtists = advert.vinylsByArtists() %}

                  <h6 class="mt-3 mb-1">Vinyle(s) choisi(s) :</h6>
                  {% for artists, tracks in vinylsByArtists %}
                  <div{% if loop.last == false %} class="mb-2"{% endif %}>
                    {% if tracks|length > 1 %}
                      {{ artists }} :<br>
                      - {{ tracks|join('<br>- ')|raw }}
                    {% else %}
                      - {{ artists }} - {{ tracks[0] }}<br>
                    {% endif %}
                  </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            {% if advert.images is not empty %}
            <div class="card-body advert-gallery">
              <div class="text-center">
                <button class="btn btn-sm btn-outline-primary advert-display-gallery" type="button" name="button">
                  Afficher les photo(s)
                </button>
              </div>
              <div class="advert-list-imgs row g-2 g-sm-3 g-md-2 d-none">
                {% for img in advert.images %}
                <div class="col-3 col-md-2 col-lg-3 col-xl-2 col-xxl-3">
                  <a class="ratio ratio-1x1 ratio-bg rounded bg-secondary" href="{{ asset(img.path) }}" target="_blank">
                    <span style="background-image: url({{ asset(img.path) }})"></span>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <div class="card-footer">
              <div class="row align-items-center">
                <div class="col-6">
                  <div class="form-check">
                    <input id="advert-{{ advert.id }}-is-sold" class="form-check-input advert-checkbox-is-sold"
                      type="checkbox" value="{{ advert.id }}"{% if advert.isSold is not null and advert.isSold == true %} checked="checked"{% endif %}>
                    <label class="form-check-label" for="advert-{{ advert.id }}-is-sold">
                      Annonce vendue
                    </label>
                  </div>
                </div>
                <div class="col-6 text-end">
                  <a href="{{ path('adverts', { id: advert.id }) }}" class="btn btn-sm btn-outline-secondary px-2 me-1">
                    <span class="bi-pencil-square"></span>
                  </a>
                  <button class="btn btn-sm btn-outline-danger" type="button"
                    data-confirm-href="{{ path('advert_delete', { id: advert.id }) }}" data-confirm-body="Êtes-vous sûr de vouloir supprimer l'annonce <b>{{ advert.title }}</b> ?"
                      data-bs-toggle="modal" data-bs-target="#modal-confirm-delete">
                    <span class="bi-file-earmark-minus me-1"></span>
                    Supprimer
                  </button>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </div>
    {% else %}
      <div class="alert alert-secondary">
        Aucune annonce à afficher.
      </div>
    {% endif %}
  </div>
{% endblock %}
