{% set grid_size = grid_size is defined ? grid_size : 'row-cols-2 row-cols-lg-4' %}
<div class="row {{ grid_size }} g-2 g-md-3">
{% for stats in statistics %}
  {% set currency = stats.currency is defined ? stats.currency : null %}
  {% set total_css_class = stats.total_css_class is defined ? ' class=' ~ stats.total_css_class : '' %}
  {% set amount_css_class = stats.amount_css_class is defined ? ' class=' ~ stats.amount_css_class : '' %}
  {% set amount_attr = stats.amount_attr is defined ? ' ' ~ stats.amount_attr : '' %}
  {% set amount = currency is not empty ? stats.amount ~ stats.currency : stats.amount %}
  {% set total = null %}
  {% if stats.total is defined %}
    {% set total = currency is not empty ? stats.total ~ stats.currency : stats.total  %}
  {% endif %}

  <div class="col">
    <div class="card card-stats h-100 overflow-hidden{{ stats.class is defined ? ' ' ~ stats.class : '' }}" data-bs-theme="light">
      <div class="card-body">
        <div class="card-text">{{ stats.label }}</div>
        <h5 class="card-title ff-monospace text-nowrap">
          <span{{ amount_css_class }}{{ amount_attr }}>{{ amount }}</span>{% if total is not empty %}<small>/<span{{ total_css_class }}>{{ total }}</span></small>{% endif %}
        </h5>
      {% if stats.progress_bar is defined %}
        {% set percent = stats.total > 0 ? (100 * stats.amount / stats.total)|round(2) : 0 %}
        {% set progressCSSClass = ' fw-bold' %}
        {% if percent < 25 %}
          {% set progressCSSClass = progressCSSClass ~ ' bg-danger' %}
          {% set percent = percent|round(1) %}
        {% elseif percent < 60 %}
          {% set progressCSSClass = progressCSSClass ~ ' bg-warning text-dark' %}
        {% elseif percent < 80 %}
          {% set progressCSSClass = progressCSSClass ~ ' bg-primary' %}
        {% else %}
          {% set progressCSSClass = progressCSSClass ~ ' bg-info text-dark' %}
        {% endif %}

        <div class="progress">
          <div class="progress-bar{{ progressCSSClass }} ff-monospace" role="progressbar" style="width: {{ percent }}%;" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100">{% if percent > 19 %}{{ percent }}%{% endif %}</div>
        </div>
      {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
